@import url("defaultCommon.css");

body {
  font-size: 16px;
}

#logo {
  background-image: url(../images/default/fhemicon.png);
  height: 132px;
  margin-left: 20px;
  margin-top: 10px;
  width: 120px;
}

#menu {
  margin-left: 20px;
  margin-top: 10px;
  width: 140px;
}

#hdr {
  left: 180px;
  position: absolute;
  top: 10px;
}

#content {
  bottom: 20px;
  left: 180px;
  position: absolute;
  right: 10px;
  top: 50px;
}

#menuScrollArea {
  height: 100%;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0px;
  width: 175px;
}

div.dist {
  padding-top: 0.3em;
}

button.dist {
  background: transparent;
  border: 0px;
  cursor: pointer;
  margin: 10px;
}